@model FunctionalFitness.Models.VideoViewModels.VideoSearchViewModel


<h1>Add Video</h1>

<form asp-controller="Video" asp-action="Search" method="post">
    <span>
        <label asp-for="SearchText"></label>
        <input asp-for="SearchText" />
    </span>

    <span>
        <input type="submit" value="Search" />
    </span>

</form>

<table class="table">

    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>URL(Click to Add)</th>
        <th>Thumbnail</th>
    </tr>

    @foreach (var item in Model.List)
    {

        var viddata = new Dictionary<string, string>
    {
        { "Title", item.Title },
        { "Author", item.Author },
        { "Url", item.Url },
        { "Thumbnail", item.Thumbnail }
    };



        <tr>
            <td>@item.Title</td>
            <td>@item.Author</td>
            <td><a asp-controller="Video" asp-action="AddVideo" asp-all-route-data="viddata">@item.Url</a></td>
            <td><img src=@item.Thumbnail style="width:128px;height:128px;" /></td>
        </tr>
    }
</table>

@if (Model.List.Count == 0)
{
    <p>No Videos to see here!</p>
}
